<!-- <header>
    <label for="check">
        <i class="fa fa-bars" id="side-nav_btn"></i>
    </label>
    <div class="left_side">
        <h3>ActiveJeevan</h3>
        <span><a href="/"><h2>Home</h2></a></span>
    </div>
</header> -->
