<!-- <input type="checkbox" id="check">
<header>
    <label for="check">
        <i class="fa fa-bars" id="side-nav_btn"></i>
    </label>
    <div class="left_side">
        <h3>ActiveJeevan</h3>
        <span><a href="/index">
                <h2>Home</h2>
            </a></span>
    </div>
</header>

<div class="side-nav">
    <div class="logo">
        <img src="images/logo.png" alt="Logo" class="image">
    </div>

    <a href="/profile" target="contentFrame"><i class="fa fa-user-circle"></i><span>Profile</span></a>
    <a href="/bmi" target="contentFrame"><i class="fa fa-calculator"></i><span>BMI Calculator</span></a>
    <a href="/preferences" target="contentFrame"><i class="fa fa-bullseye"></i><span>Goals & Preferences</span></a>
    <a href="/trainer" target="contentFrame"><i class="fa fa-chalkboard-teacher"></i><span>Trainer</span></a>
    <a href="/tracker" target="contentFrame"><i class="fa fa-chart-line"></i><span>ProgressTracker</span></a>
    <a href="/checkout" target="contentFrame"><i class="fa fa-utensils"></i><span>Checkout</span></a>
</div> -->
